/* Page */

.page {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.page-wrapper {
  width: $page-wrapper-width;
  max-width: $max-width-desktop;
  min-width: $min-width-mobile;
  margin: $page-wrapper-side-margin auto $page-wrapper-side-margin;
}

.page-header {
  padding: $page-header-padding;
  margin-bottom: $page-header-margin-bottom;

  &__title {
    margin-right: $page-header-title-margin-left;
    @include text-base;
  }
}

.page-main {
  display: flex;
}
