/* Flight card */

.card {
  margin-bottom: 30px;
}

.card__header {
  background-color: $bg-card-header;
  color: $font-color-contrast;
}

.card-price {
  text-align: end;

  &__title {
    display: block;
  }

  &__info {
    display: block;
  }
}
