/* Flight card */

.card {
  margin-bottom: $card-margin-bottom;
}

.card__header {
  display: flex;
  padding: $card-header-padding;
  background-color: $bg-card-header;
  color: $font-color-contrast;
}

.card-logo {
  height: 100%;
}

.card-price {
  margin-left: auto;
  text-align: end;

  &__title {
    display: block;
  }

  &__info {
    display: block;
  }
}
