/* Color vars */
$color-info: #ffa600;

/* Backgroung colors */
$bg-main: #ffffff;
$bg-card-header: #0161f0;
$bg-button--card: $color-info;
$bg-button--show-more: #e3e3e3;

/* Font colors */
$font-color-base: #000000;
$font-color-contrast: #ffffff;
$font-color-info: $color-info;
