/* COLOR VARS */

$color-main: #ffffff;
$color-second: #0087c9;
$color-base: #000000;
$color-highlight: #ffa600;
$color-info: #39ace4;
$color-sub: #f1f1f1;
$color-error: #f72828;

/* Backgroung colors */
$bg-main: $color-main;
$bg-card-header: $color-second;
$bg-button--card: $color-highlight;
$bg-button--show-more: $color-sub;

/* Font colors */
$font-color-base: #000000;
$font-color-contrast: #ffffff;
$font-color-info: $color-info;
$font-color-highlight: $color-highlight;
