/* Buttons */

.btn {
  padding: 0;
  border: none;
  cursor: pointer;

  &--load-more {
    background-color: #e3e3e3;
  }

  &--flight-select {
    background-color: $bg-button--card;
    color: $font-color-contrast;
  }
}
