/* Buttons */

.btn {
  padding: 0;
  border: none;
  cursor: pointer;
  @include text-main;

  &--load-more {
    display: block;
    width: $button--load-more-width;
    padding: $button--load-more-padding;
    margin: 0 auto;
    border: 1px solid $color-base;
    background-color: $color-sub;
  }

  &--flight-select {
    width: $button--flight-select-width;
    padding: $button--flight-select-padding;
    background-color: $bg-button--card;
    color: $font-color-contrast;
  }
}
